/* Navbar */

.header {
  background-color: #fff;
  z-index: 9999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4em;
}

.nav a {
  font-size: 1.3rem;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 1em 1.5em;
  }
}
